.feed__header {
  display: flex;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fdfeff;
}

.feed__headerName {
  flex: 0.25;
  text-align: center;
}

.feed__headerRight {
  display: flex;
  flex: 0.75;
}

.feed__headerRight > h4 {
  flex: 0.2;
  text-align: center;
}
